# Virtual Environment
venv/
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
dist/
downloads/
.eggs/
lib/
lib64/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# IDE
.idea/
.vscode/
*.swp
*.swo

# Logs (exclude the README.md file)
*.log
logs/
!logs/README.md
